<h3>Change Password</h3>
<div class="form-container" style="max-width: 500px;">
    <div class="form-group">
        <label for="old-password"><i class="fas fa-lock"></i> <b>Old Password</b></label>
        <input type="password" id="old-password" placeholder="Enter old password">
    </div>

    <div class="form-group horizontal">
        <button class="btn-primary" id="btn-send-code">Send Code</button>
        <input type="text" id="code-input" placeholder="Enter Code">
    </div>

    <div class="form-group">
        <label for="new-password"><i class="fas fa-lock"></i> <b>New Password</b></label>
        <input type="password" id="new-password" placeholder="Enter new password">
    </div>

    <div class="form-group">
        <label for="confirm-password"><i class="fas fa-lock"></i> <b>Confirm Password</b> </label>
        <input type="password" id="confirm-password" placeholder="Confirm new password">
    </div>

    <div class="form-actions" style="justify-content: flex-end;">
        <button class="btn-primary" id="btn-save-password">Save</button>
    </div>
</div>
<script src="{{url_for('static', filename='js/change_password.js')}}"></script>