<h3>Change Password</h3>
<div class="form-container" style="max-width: 500px;">
    <div class="form-group">
        <label for="old-password"><i class="fas fa-lock"></i> Old Password</label>
        <input type="password" id="old-password" value="************">
    </div>
    <div class="form-group horizontal">
        <button class="btn-primary">Send Code</button>
        <input type="text" id="code" placeholder="Enter Code">
    </div>
    <div class="form-group">
        <label for="new-password"><i class="fas fa-lock"></i> New Password</label>
        <input type="password" id="new-password" placeholder="Enter new password">
    </div>
    <div class="form-group">
        <label for="confirm-password"><i class="fas fa-lock"></i> Confirm Password</label>
        <input type="password" id="confirm-password" placeholder="Confirm new password">
    </div>
    <div class="form-actions" style="justify-content: flex-end;">
        <button class="btn-primary">Save</button>
    </div>
</div>