<h3>Promotion</h3>
<div class="notification-list">
    <div class="notification-item">
        <div class="notification-img"></div>
        <div class="notification-details">
            <h4>UPGRADE YOUR PHONE WITH SHOCKING DEALS</h4>
            <p>iPhone 17 - Visa card discount 150K + Free shipping 300K § Voucher up to 3.5 million for old Apple & Samsung Models. Apply at genuine stores Available in wallet - Hurry up and grab the code!</p>
            <small>15:46 20-09-2025</small>
        </div>
        <button class="btn-secondary">Product Reviews</button>
    </div>
    <div class="notification-item">
        <div class="notification-img"></div>
        <div class="notification-details">
            <h4>FLASH SALE 9.9 - UP TO 90% OFF</h4>
            <p>Don't miss the biggest sale event of the year! Thousands of products are on sale. Limited time only!</p>
            <small>09:00 09-09-2025</small>
        </div>
        <button class="btn-secondary">Shop Now</button>
    </div>
</div>