<h3>Update Order</h3>
<div class="notification-list">
    <div class="notification-item">
        <div class="notification-img"></div>
        <div class="notification-details">
            <h4>Package Delivery Successful</h4>
            <p>Order 250915HTOYT8TQ has been completed. Please rate the product before 2025-10-20 to receive 200 coins and help other users understand the product better!</p>
            <small>17:16 20-09-2025</small>
        </div>
        <button class="btn-secondary">Product Reviews</button>
    </div>
    <div class="notification-item">
        <div class="notification-img"></div>
        <div class="notification-details">
            <h4>Package Delivery Successful</h4>
            <p>Order 250915ABCEFG12 has been completed. Please rate the product before 2025-10-15 to receive 200 coins and help other users understand the product better!</p>
            <small>10:30 19-09-2025</small>
        </div>
        <button class="btn-secondary">Product Reviews</button>
    </div>
</div>